:root {
    --color-background: rgb(18, 18, 18);
    --color-card: rgb(32, 32, 32);
    --color-form-font: rgb(143, 143, 143);
    --color-input: rgb(43, 43, 43);
    --color-button: rgb(25, 25, 25);
    --color-title: rgb(250, 249, 249);
}